# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Directorios de compilación/IDE
/target/
/build/
.idea/
.gradle/

# Los datos de prueba ya que tienen login
datosPrueba.json